// ===========================================================================
// Table of Contents
// ===========================================================================
// [ Credits : Base code taken from hexo-flexy theme ]
//
//   0. Settings
//   0.0 Imports
//   0.1 Webfonts
//   0.2 Typography
//   0.3 Colors
//   0.4 Defaults
//   1. Basics
//   2. Header
//   3. Main
//   4. Typography
//   5. Media Queries
//   6. Custimization

// ===========================================================================
// 0. Settings
// ===========================================================================

// 0.0 Imports

@import 'fontawesome.min.css'
@import 'normalize.css'
@import 'nib'
@import '_*'

// 0.1 Webfonts

$font-directory = '../fonts/'

webfont('Open Sans', 'opensans/300', 300, normal)
webfont('Open Sans', 'opensans/400', 400, normal)
webfont('Open Sans', 'opensans/600', 600, normal)
webfont('Open Sans', 'opensans/700', 700, normal)
webfont('Open Sans', 'opensans/800', 800, normal)
webfont('Open Sans', 'opensans/300i', 300, italic)
webfont('Open Sans', 'opensans/400i', 400, italic)
webfont('Open Sans', 'opensans/600i', 600, italic)
webfont('Open Sans', 'opensans/700i', 700, italic)
webfont('Open Sans', 'opensans/800i', 800, italic)

webfont('Fira Mono', 'fira/400', 400, normal)
webfont('Fira Mono', 'fira/500', 500, normal)
webfont('Fira Mono', 'fira/700', 700, normal)

// 0.2 Typography

$title-font        = 'Open Sans', sans-serif
$heading-font      = 'Open Sans', sans-serif
$button-font       = 'Open Sans', sans-serif
$small-font        = 'Open Sans', sans-serif
$body-font         = 'Open Sans', sans-serif
$paragraph-font    = 'Open Sans', sans-serif
$code-font         = 'Fira Mono', monospace, sans-serif

$title-weight   = 300
$heading-weight = 300
$small-weight   = 300
$body-weight    = 300
$code-weight    = 300

// 0.3 Colors

$white         = hsla(0, 0, 98%, 1)
$gray          = hsla(0, 0, 45%, 1)
$black         = hsla(0, 0, 8%, 1)

$light-gray    = lighten($gray, 95%)
$shade-gray    = lighten($gray, 35%)
$dark-gray     = darken($gray, 35%)

// 0.4 Defaults

$author = 'Manish Kumar Khedawat'

$title-color             = $white
$description-color       = $gray
$header-link-color       = $white
$icon-color              = lighten($gray, 7%)

$link-hover-header-color = $gray

$body-color            = $black
$post-meta-color       = $gray
$body-link-color       = $black
$body-link-hover-color = $gray

$background-color   = $white
$accent-color       = $shade-gray
$quote-accent-color = $black

$default-padding = 20px

// ===========================================================================
// 1. Basics
// ===========================================================================

html
  font-size 62.5%

p
  font-family $body-font

body
  display flex
  color $body-color
  background $background-color
  margin 0
  height 100vh
  min-width 375px
  flex-direction row // mobile first
  font-family $body-font
  font-size 1.7rem
  font-weight $body-weight
  line-height 1.6em
a
  color $body-link-color
  text-decoration none
  &:hover
    transition color .3s ease

::-moz-selection
::selection
  color $body-color
  background $blue
  text-shadow none

main,
header
  overflow-y auto
  -webkit-overflow-scrolling touch
  padding 20px

// ===========================================================================
// 2. Header
// ===========================================================================

header
  flex 1
  overflow-y hidden
  overflow-x hidden
  position relative
  text-align right
  padding 40px
  max-width 320px
  display flex
  flex-direction column
  .rss
    img
      width 20px
      margin-left 10px
  p.meta-icp
    position absolute
    bottom 10px
    left 0
    right 0
    font-size 12px
    color #666666
    margin auto
    text-align center
    font-style italic
    a
      color #737373
  a
  h1
  p
  nav
    position relative
    z-index 2
  // Link styling
  a
    color $header-link-color
    text-decoration none
    &:hover
      text-decoration underline
  // Blog title
  h1
    color $title-color
    font-family $title-font
    font-size 4.3rem
    font-weight $title-weight
    letter-spacing -1px
    text-shadow 0 1px 6px hsla(0, 0, 0, .5)
    a:hover
      text-decoration none
  // Blog description
  p
    color $description-color
    font-family $paragraph-font
    font-size 1.7rem
    font-weight $body-weight
    letter-spacing 0
    margin 0
    text-shadow 0 1px 3px hsla(0, 0, 0, .35)
  // Navigation list
  nav ul
    list-style none
    margin 0
    padding-top 24px
    li
      display block
      line-height 1.6em
      padding 0
      &:after
        content ''
        padding 0
      &:last-child
        &:after
          content ''
      &.menu-item
        cursor pointer
        font-size 1.7rem
        margin 5px 0
  .space
    animation slide 8s linear infinite
    background-color $black
    background-position center center
    background-size 240px
    height 400%
    left 0
    position absolute
    top 0
    width 400%
    z-index 1
  .logo
    height 100px
    width 100px
    border-radius 50%
    background-size contain;
    background url(../images/logo.png) no-repeat $white
    background-color $white
    background-position center
    position relative
    z-index 2
    margin auto 0 20px auto
    flex-shrink 0

// Header animation
@keyframes slide
  0%
    transform translate3d(0, 0, 0)
  100%
    transform translate3d(-240px, -240px, 0)

// ===========================================================================
// 3. Main
// ===========================================================================

main
  // Text flow
  flex 2
  hypens auto
  overflow-x hidden
  padding 40px
  text-align left
  word-break normal
  word-wrap break-word
  // Links to articles
  form
    .form-column 
      input[type="name"]
      input[type="email"]
        width 35%
        margin .5em .5em .5em 0
  a.article
    color $body-color
    text-decoration none
    // No border-bottom on last article
    &:last-of-type
      article
        border none
        &:after
          background none
          border none
          box-shadow none
          padding-bottom 20px
    &:hover h2
      color $body-link-hover-color
      transition color .3s ease
  .article-meta
    text-align center
    display flex
    flex-direction column
  .article-end-saparator
    display flex
    margin 20px 0 30px 0
    align-items center
    span.text
      font-size 1.4rem
      font-weight normal
      text-align center
      color #666
    span.line
      margin 0 35px
      height 0
      border-bottom solid 1px #aaa
      opacity 0.6
      flex 1
  .page-title
    color $shade-gray
    font-family $body-font
    font-size 1.7rem
    font-style italic
    font-weight $body-weight
    margin 0
    padding-bottom 16px
    text-align center
  .post-meta
    color $shade-gray
    display inline-block
    font-family $small-font
    font-weight $small-weight
    font-size 1.5rem
    margin 0
  // Article Table
  table
    width 95%
    margin 20px auto
    border-collapse collapse
    th, td
      border 1px solid #ddd
      text-align left
      padding 5px 10px
  // Article list
  article.item
    max-width 1200px
    border-bottom 1px solid hsla(0, 0, 0, .15)
    color $body-color
    padding 35px 20px
    text-align center
    display flex
    flex-direction row
    align-items center
    div.post-intro
      flex 1
      display flex
      flex-direction column
      justify-content center
      align-items center
    h2
      break-word normal
      color $body-color
      margin-bottom 16px
      word-wrap break-word
    p.post-excerpt
      font-size 1.7rem
      line-height 2.1em
      margin 16px 20px 0
  // Full article
  article.full
    padding-bottom 20px
    span.page-tag-anchor
      margin-top 5px
    .align-center
      text-align center
    ol
      > li
        margin 10px 0
        line-height 2.8rem;
      ul
        padding-inline-start 4em
    ul
      padding-inline-start 2em
      list-style none
      margin-top 10px
      margin-bottom 10px
      > li
        margin 5px 0
        line-height 2.8rem
        &:before
          content "■ "
          padding-right 7px
    ul.search-catelog-items
      margin-top 30px
      > li
        overflow hidden
        text-overflow ellipsis
        list-style-type none
        padding 10px 0
        > a
          .separator
            margin 0 5px
          &:before
            content "- "
            vertical-align middle
        &:before
          content none
        > ul li 
          color darkgrey
          margin 5px 0 0
          font-size 15px
          font-style italic
    ul.catelog-items
      > li
        margin 8px 0
        line-height 2.5rem
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:before
          content none
    a
      text-decoration none
      &:hover
        color $body-link-hover-color
    p + img
      margin-top 0
    img
      // Images are responsive by default
      height auto
      width auto
    // Blockquotes within articles
    blockquote
      box-sizing border-box
      margin .5em 0 .5em 2em
      padding 0 0 0 1em
      border-left $quote-accent-color .4em solid
      color #737373
      footer
        text-align left
        padding 0
        border 0
        background none
        color $body-color
        line-height 1.6em
        font-size .9em
      p
        margin .8em 0
        font-style italic
        text-indent 0
        line-height 2.5rem
      small
        display inline-block
        margin .8em 0 .8em 1.5em
        font-size .9rem
        color $light-gray
        &:before
          content '\2014 \00A0'
      ol
      ul
        font-style italic
        padding-inline-start 2em
      cite
        font-weight bold
        &:before
          content '—'
          padding 0 .3em
        a
          color $link-article-color
          font-weight normal
    // Images without shadows and round borders
    .noshadow
      box-shadow none
      border-radius 0
    // Display logos small and next to each other
    .logos
      display inline-block
      clear both
      img
        width auto
    .left
      float left
    .right
      float right
  span.next-post
    float right
    a
      &:hover
        color $body-link-hover-color
  span.prev-post
    float left
    a
      &:hover
        color $body-link-hover-color
  section#comments
    padding-top 20px
    margin-top 20px
  .about-container
    .avatar
      margin auto
      width 150px
      height 150px
      border-radius 50%
      background url("../images/avatar.png")
      background-repeat no-repeat
      background-size 100% 100%
      -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    .avatar-name
      text-align center
      font-size 3.3rem
      margin 30px auto 35px auto
      color $black
    .avatar-description
      margin 15px 0 20px 0
      text-align center
      color $gray
      font-size 2.1rem
    .avatar-skills-block
      width 100%
      display flex
      margin-bottom 35px
      flex-direction row
      align-items center
      flex-wrap wrap
      justify-content center
    .avatar-skills
      margin 0 10px 0 0
      color #141414
      font-size 1.6rem
      border solid 1px #737373
      padding 5px
      margin-top 10px
    .social-container, .extra-container
      margin 10px auto auto auto
      text-align center
      a
        .icons
          margin-right 12px
          margin-left 12px
          padding auto 12px
          color $icon-color
          font-size 2.3rem
          &:hover
            color $black
        .no-icons
          font-weight 800
          font-size 2.5rem

// ===========================================================================
// 4. Typography Basics
// ===========================================================================

h1,
h2,
h3,
h4,
h5,
h6
  font-family $heading-font
  font-weight $heading-weight
  line-height 1
  margin-top 0
  margin-bottom 20px
  text-rendering optimizeLegibility

h1
  font-size 4.0rem
  letter-spacing -2px
  line-height 1.2em
  text-indent -3px

h2
  font-size 3.6rem
  letter-spacing -1px
  line-height 1.2em
  text-indent -2px

h3
  font-size 3.2rem

h4
  font-size 2.8rem
  margin-bottom 0

h5
  font-size 2.4rem

h6
  font-size 2rem

a
  transition color ease .3s
  text-decoration none
  &:hover
    color $link-article-color

hr
  display block
  height 1px
  border 0
  border-top darken($background-color, 15%) 1px solid
  margin 40px 0
  padding 0

  &:after
    display block
    content ''
    width 7px
    height 7px
    border darken($background-color, 12%) 1px solid // circle border
    position relative
    top -5px
    left 50%
    margin-left -5px
    background darken($background-color, 15%)  // inside the circle
    border-radius 100%
    box-shadow $background-color 0 0 0 5px // around the circle

// ===========================================================================
// 5. Media Queries
// ===========================================================================

@media (max-width 1680px)
  body
    header
      max-width 320px

@media (max-width 1248px)
  body
    flex-direction column
    main
      flex none
      overflow visible
      article
        div.content
          div.year-group
            > div
              > span.sticky
                top 20px
    header
      text-align center
      max-width 100%
      padding 20px
      flex none
      div.toc-body
        display none
      div.logo
        margin 0 auto 10px
      nav
        max-width 400px
        margin 0 auto 20px
        ul
          padding 0
          display flex
          justify-content space-around
          align-items center
          li.menu-item
            margin 5px 10px

@media (max-width 800px)
  html
    font-size 58.5%
    body
      main
        padding 20px
        article
          h1
            font-size 2.8rem
          h2
            font-size 2.6rem
          h3
            font-size 2.4rem
          h4
            font-size 2.2rem
          div.content
            div.year-group
              margin-top 20px
              display block
              > div
                margin-bottom 10px
                > span.sticky
                  position relative
                  top 0
                  margin 0
                > span.line
                  display none
            blockquote
              margin .5em 0 .5em 1em
            ul.catelog-items, ul.search-catelog-items, ul.search-catelog-items ul, ul.book-list
              padding-inline-start 0
          div.about-container
            div.avatar-name
              font-size 2.9rem
            div.avatar-description
              font-size 1.6rem
              margin 7px 0     

// ===========================================================================
// 6. Custimization
// ===========================================================================
div.toc-slot
  flex 1
div.toc-body
  position relative
  border dashed 1px #7c7c7c
  z-index 2
  padding 20px
  margin 50px 0px 20px
  width 280px
  background-color #141414
  flex-shrink 1
  min-height 150px
  > div.bookmark
    position absolute
    height 30px
    width 16px
    padding 0px
    transform rotate(0deg) skew(0deg)
    border-left 8px solid white
    border-right 8px solid ghostwhite
    border-bottom 20px solid transparent
    box-sizing: border-box
    right 0
    top 0
    opacity .45
  > ol.toc
    padding-left 0
    margin 0
    font-size 15px
    line-height 1.4
    list-style none
    text-align left
    overflow-y scroll
    height 100%
    ol.toc-child
      padding-left 20px
      > li a:before 
        content "|"
        padding-right 7px
    li 
      a
        width 100%
        display inline-block
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        opacity .45
      &.active 
        > a
          opacity 1
input, textarea
   -webkit-appearance none
   
@font-face {        
  font-family: 'CodeFont';        
  src: url('/fonts/code/CodeFont.eot');        
  src: url('/fonts/code/CodeFont.eot?#iefix') format('embedded-opentype'),           
         url('/fonts/code/CodeFont.woff') format('woff'),            
         url('/fonts/code/CodeFont.ttf')  format('truetype'),            
         url('/fonts/code/CodeFont.svg#CodeFont') format('svg'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome/fontawesome-webfont.eot');
  src: url('/fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'),
       url('/fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
       url('/fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'),
       url('/fonts/fontawesome/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.canvas-containter
  position fixed
  z-index -200
  opacity 0
  width: 100%
  top 0
  left 0
  height 100%
  background-color rgba(0, 0, 0, .6)
  span
    color #f8f8f8
    position: absolute
    top 15px
    right 15px
    font-family sans-serif
    font-size 25px
    cursor pointer

.touch-top, .zoom
  position fixed
  right 20px
  border-radius 50%
  background-color rgba(255, 255, 255, .7);
  width 40px
  height 40px
  text-align center
  vertical-align middle
  border solid 3px #141414
  cursor pointer
  overflow hidden
  z-index 999
   
.touch-top 
  bottom 30px
  > span
    width 0
    height 0
    border-left 8px solid transparent
    border-right 8px solid transparent
    border-bottom 13px solid #141414
    position relative
    top -12px

.animation-show
  animation-name animationShow
  animation-duration .7s

.animation-hide
  animation-name animationHide
  animation-duration .7s

@keyframes animationShow
  from
    opacity 0
    z-index -200
  to
    opacity 1
    z-index 200

@keyframes animationHide
  from
    opacity 1
    z-index 200
  to
    opacity 0
    z-index -200
    
article
  margin auto
  span.pn
    font-size 12px
    background-color #636363
    color #fff
    padding 3px 5px
    margin-right 7px
    font-style italic
  div.content
    max-width 1200px
    margin auto
    div.year-group
      display flex
      > ul
        margin-top 0
      > div
        font-size 2.0rem
        position relative
        > span.line
          height 100%
          display inline-block
          width 1px
          position absolute
          left 50%
          background #c2c2c2
          margin-left -1px
          margin-top 10px
        > span.sticky 
          display inline-block
          position sticky
          top 0;
          z-index 1
          padding 2px 5px
          background-color #fafafa
          border solid 1px
          margin-top 10px
  video
    display: block;
    margin: auto;
    max-width: 100%;
    border: solid 1px #ccc;
    max-height: 500px;
  &.cards-page
    div.content
      > span.meta
        font-size 14px
        font-style italic
      > span.hidden-anchor 
        visibility hidden
      > div.container 
        margin-bottom 50px
        &:nth-child(3)
          margin-top 20px
        &:last-child
          margin-bottom 0
      div.title
        font-size 18px
        background-color #3f3f3f
        color white
        padding 8px 10px
        margin-bottom 10px
        position sticky
        top 0
        margin-left -7px
        margin-right -7px
        z-index 1
      div.snippet
        padding 10px 20px
        border solid 1px #b2b2b2
        margin 15px 0
  &.readings-page
    ul.book-list
      li
        margin 7px 0
        line-height 2.5rem
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      span
        &.score
          font-weight 500
          font-style italic
        &.comment
          font-style italic
          color #666
          font-size 14px
    span.meta
      font-size 14px
      font-style italic
    h3
      margin-bottom 20px
    a
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
  &.search-page
    div.no-result
      text-align center
      display none
  .search-container
    display flex
    flex-direction: row
    border solid 1px #141414
    padding 20px
    margin 30px 0 40px
    input[type="search"]
      flex 1
      padding 5px 10px
      outline none
      border solid 1px #ddd
      min-width 200px
    button.submit-search
      width 200px
      background-color #141414
      color white
      margin-left 10px
      font-size 15px
      height 45px
      border none
      &[disabled]
        background-color grey
  pre[class*="language-"]
    font-size 1.4rem
    margin 15px 0
    padding 20px
  code 
    font-family: $code-font !important
  code:not([class*="language-"])
    border solid 1px #000
    padding 1px 5px
    background-color #f8f8f8
    color #000
    border-radius 4px
    font-size 14px
  h1, h2, h3, h4, h5, h6
    margin 40px 0 20px 0
    line-height 1.4
    &:first-child
      margin-top 10px
    &[itemprop="headline"]
      margin-top 0
      i
        float right
        cursor pointer
  ol
    padding-inline-start 2em
  li
    p
      text-indent 0
  p
    margin 15px 0
    line-height 2.9rem
    text-indent 2em
    text-align justify
    img
      border solid 1px #444
      margin 35px auto
      display block
      max-width 85%
      border solid 2px #8c8c8c
      border-top-left-radius 37px 140px
      border-top-right-radius 23px 130px
      border-bottom-left-radius 110px 19px
      border-bottom-right-radius 120px 24px
      box-shadow 3px 15px 8px -10px rgba(0, 0, 0, 0.3)
    > span.pic-desc
      display block
      text-indent 0
      text-align center
      font-size 14px
      margin-top -25px
  .tag-item
    margin-top 20px
    display inline-block
    a
      display inline-block
      border solid 1px $gray
      padding 5px
      margin 0 10px 10px 0
      cursor pointer
  .article-bottom-meta
    text-align right
