if config.disqus_shortname && page.comments
  section#comments
    div
      h2 文章评论
      #disqus_thread
        noscript Please enable JavaScript to view the #[a(href='//disqus.com/?ref_noscript') comments powered by Disqus].