script(src=config.root + 'scripts/index.js', type='text/javascript')
if theme.google_analytics 
  script(src='https://www.googletagmanager.com/gtag/js?id=UA-135435065-1', type='text/javascript', async)
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-135435065-1');