doctype html
html(lang='en-us')
  head
    include _head
  body(itemscope, itemtype='https://schema.org/WebPage')
    div.canvas-containter
      span
        | X
    header(itemscope, itemtype='https://schema.org/WPHeader')
      include _header
      .space
    main(itemscope, itemtype='https://schema.org/Blog')
      include _content
    include _scripts